@charset "utf-8";
/* CSS Document */
 html,
	 body {
		 height: 100%;
		 width: auto;
		 margin: 0;
		 padding: 0;

	 }

	 body {
		 font-family: "Roboto Condensed", sans-serif;
	 }

	 p {
		 font-size: 20px;
		 color: #000;
		 animation-delay: .5s;
		  font-family: "Roboto Condensed", sans-serif;
	 }
.post-footer {
	padding-bottom:2.5rem;
	
}
.blog-image {
	padding-top: 100px;
	position: relative;

}
.post-footer a {
	padding: 1rem;
}
