	 html,
	 body {
		 height: 100%;
		 width: auto;
		 margin: 0;
		 padding: 0;
		 

	 }

	 body {
		 font-family: "Roboto Condensed", sans-serif;
	 }

	 p {
		 font-size: 20px;
		 color: #000;
		 animation-delay: .5s;
		  font-family: "Roboto Condensed", sans-serif;
	 }
	ol  li a{
		text-align: center;
		text-decoration-color: darkorange;
		text-decoration-style: solid;
	}
#.container-fluid {
    background-image: url('../img/hand.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#terms {
	margin-bottom: 50px;
	margin-top: 100px;
}
	#container-fluid {
		width: auto;
		height:auto;
		margin-bottom: 100px;
		border: 1px solid #BB7879;
		text-align: center;
		margin: auto;
		margin-top: 100px;
		visibility: 0.2;
		background: #fff;
		overflow: hidden;
		padding: 10px;
		padding-bottom: 5px;

	}
	#about h1
	{
		color: blue;
	}
	#about
	{
		width: 1000px;
		margin: auto;
		font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
		font-size: 15px;
	}

	 .container nav-item {
		 margin-left: 0px;
		 margin-right: 0px;
	 }

	 #navbar-brand {
		 margin-left: 0px;
		 padding-left: 0px;
		 float: left;
	 }

	 ul {
		 list-style-type: none;
	 }


	 /* parallax effect*/

	 .bg-parallax {
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-position: center;
		 background-attachment: fixed;
	 }

	 /*animation */


	/***button ***/
	 .btn-general {
		 border-color: #fff;
		 border-width: 2px;
		 border-radius: 2;
		 padding: 12px 26px 12px 26px;
		 font-size: 16px;
		 font-weight: 400;
		 text-transform: uppercase;
	 }

	 .btn-white {
		 border-color: #00fff0;
		 color: #fff;
	 }

	 .btn-white:hover,
	 btn-white:focus {
		 background-color: aqua;
		 color: #41464b;
	 }
.btn-block {
	border-color: #00fff0;
	color: black;
}
/***privacy***/
#privacy {
	margin-bottom: 50px;
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
}
	/**** contact us****/
	.contact  {
			padding: 3.5rem 0 2rem 0 ;
			padding-bottom: 3.5rem;
			background: #fff;
			text-align: center;
		text-color:#000;
		 height: 100%;
		 width: auto;
        background-image: url(../img/contactus.jpeg);
		 background-repeat: no-repeat;
		position: relative;
		 background-size: cover;
		 background-position: center;
		 background-attachment: fixed;
		}
	.contact p {
		font-size: 20px;
		font-weight: 300;
	}
	.social-links a   {
		padding: 10px;
		display:inline;
	}
	.fa-facebook-square:hover {
		color: #0134A0;
	}
	.fa-instagram:hover {
		color: #E0022C;
	}
	.fa-twitter:hover {
		color: #068DF4;
	}
	.fa-envelope:hover {
		color: #E51B02;
	}
	.fa-twitter {
		color: #55acee;
	}
	.fa-instagram{
		color: #e4405f;
	}
	.fa-facebook-square {
		color: #3b5999;
	}
	.fa-envelope{
		color: #dd4b39;
	}

	/*** AGENCIES ****/
	.agencies {
		padding: 3.5rem 0 2rem 0 ;
			padding-bottom: 3.5rem;
		#background-image: url('../img/events.jpeg');
        background-color: #fff;
		 height: 600px;
		 width: auto;
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-position: center;
		position: relative;
		 background-attachment: fixed;
		 text-decoration: none;
		 text-align: center;
		background-color: black;
	}
	.agencies p {
		color: #f9f8f8;
		font-size: 20px;
		font-weight: 300;
	}
	.agencies h1  {
		color: #fff301;
	}
	 h1,h3  {
		color: #fff300;
	}
	/***SOCIAL ISSUES ****/
	.social-issue {
		padding: 3.5rem 0 2rem 0 ;
			padding-bottom: 3.5rem;
		background-image: url('../img/traffic%20jam.jpg');
		 height:800px;
		 width: auto;
		position: relative;
		 background-repeat: no-repeat;
		 background-size: 100%;
		 background-position: center;
		 background-attachment: fixed;
		background-color: black;
}
	h1 {
		font-size: 2.5rem;
	}
	


	.social-issue p {
		color: #000;
		font-size: 20px;
		font-weight: 300;
	}
	/****EMERGENCY BUTTON ***/
	.btn-outline-warning {
		/* border-color: #fff;*/
		 border-width: 2px;
		 border-radius: 2;
		 padding: 12px 26px 12px 26px;
		 font-size: 16px;
		 font-weight: 300;
		 text-transform: uppercase;
	}

	/*** NATURAL DISASTER ***/
	.natural-disaster {
		padding: 3.5rem 0 2rem 0 ;
			padding-bottom: 3.5rem;
		background-image: url('../img/hand.jpg');
		 height: 800px;
		 width: auto;
		 background-repeat: no-repeat;
		 background-size: 100%;
		 background-position: center;
		 background-attachment: fixed;
		background-color: black;
	}
	.natural-disaster p {
		color: #000;
		font-size: 20px;
		font-weight: 300;
	}

	/*** EMERGENCY ***/

	 .emergency-service {
		 padding: 3.5rem 0 2rem 0 ;
		 padding-bottom: 3.5rem;
		 background-image: url("../img/emergency.jpeg");
		 height: 800px;
		 width: auto;
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-position: center center;
		 background-attachment: fixed;
	 }
#emergency .btn-white {
		 border-color: #00fff0;
		 color: #fff;
	 }
	/***FOOTER***/

	 .footer-bottom {
		 background-color: #333CFF;
		 min-height: 30px;
		 width: 100%;
		 text-decoration: none;
		 list-style-type: none;
	 }

	 .copyright {
		 color: #fff;
		 line-height: 30px;
		 min-height: 30px;
		 padding: 7px 0;
	 }

	 .design {
		 color: #fff;
		 line-height: 30px;
		 min-height: 30px;
		 padding: 7px 0;
		 text-align: right;
	 }

	 .design a {
		 color: #fff;
	 }

/************ css boxes ******/
.demo{ background: #e2e2e2; }
.serviceBox{
    color: #606060;
    padding: 0 10px 60px;
    background-color: #f23d3a;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 80px 0 30px;
    position: relative;
 }
 .serviceBox .service-content{
   text-align: center;
    padding: 15px 20px 30px;
    margin-top: -80px;
    border-radius: 25px;
    background-color: #fff;
    position: relative;
    transition:all 0.3s;
 }
 .serviceBox .service-content:hover{
   box-shadow: 0 0 20px -5px #000;
 }
 .serviceBox .service-content:after{
    content: '';
    height: 50px;
    width: 50px;
    border: 25px solid transparent;
    border-top: 25px solid #fff;
    transform:translateX(-50%);
    position: absolute;
    bottom: -50px;
    left: 50%;
}
.serviceBox .service-icon{
    display: inline-block;
    color: red;
    font-size: 90px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{
    transform:rotateX(360deg);
}
..serviceBox .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin:0 0 10px;
}
.serviceBox .description{
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}
.serviceBox .read-more{
    display: block;
    width: 60%;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background-color:#03a9fc;
    border-radius: 15px;
    transform:translateX(-50%);
    transition:all 0.3s ease 0s;
    position: absolute;
    left: 50%;
    bottom: -20px;
}
.serviceBox .read-more:hover{
    text-decoration: none;
    letter-spacing: 2px;
    box-shadow: 0 0 10px #000;
}
.serviceBox.green{background-color: #f23d3a;}
.serviceBox.green .service-icon{color: #03A9FC;}
.serviceBox.green .read-more{background-color: #03A9FC;}
.serviceBox.blue{background-color: #f23d3a;}
.serviceBox.blue .service-icon{color: #606060;}
.serviceBox.blue .read-more{background-color: #03a9fc;}
.serviceBox.red{background-color: #f23d3a;}
.serviceBox.red .service-icon{color: #f23d3a;}
.serviceBox.red .read-more{background-color: #03a9fc;}
.emer {
    margin-top: 100px;
}
/**** agencies csss *****/
.main-timeline{
    padding: 150px 0 0;
    position: relative;
    display: inline-block;
}
.main-timeline:before,
.main-timeline:after{
    content: '';
    height: 30px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
}
.main-timeline:after{
    top: auto;
    bottom: -10px;
}
.main-timeline .timeline{
    width: 52.2%;
    float: left;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content{
    color: #fff;
    border-right: 50px solid #E5E5E5;
    padding: 40px 30px 20px 0;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: '';
    background-color: #00B3AD;
    height: 80px;
    width: 50px;
    border-radius: 23px;
    position: absolute;
    right: -50px;
    top: 30px;
}
.main-timeline .timeline-content:before{
    background-color: #047a74;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}
.main-timeline .title{
    color: #fff;
    background-color: #00B3AD;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 0 35px 0;
    -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
}
.main-timeline .inner-content{
    padding-right: 150px;
    position: relative;
}
.main-timeline .timeline-icon{
    color: #fff;
    background-color: #00B3AD;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 5px;
}
.main-timeline .description{
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
}
.main-timeline .timeline:nth-child(odd){ margin-top: -12%; }
.main-timeline .timeline:nth-child(even){
    float: right;
    width: 52.15%;
    margin-top: -12%;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    border-right: 0 solid transparent;
    border-left: 50px solid #E5E5E5;
    padding: 40px 0 20px 30px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before,
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: auto;
    left: -50px;
}
.main-timeline .timeline:nth-child(even) .inner-content{
    padding-right: 0;
    padding-left: 150px;
}
.main-timeline .timeline:nth-child(even) .title{
    padding: 10px 25px 10px 40px;
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon,
.main-timeline .timeline:nth-child(4n+2) .title,
.main-timeline .timeline:nth-child(4n+2) .timeline-content:after{
    background-color: #FF534F;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{
    background-color: #a02724;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon,
.main-timeline .timeline:nth-child(4n+3) .title,
.main-timeline .timeline:nth-child(4n+3) .timeline-content:after{
    background-color: #9642A4;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{
    background-color: #6d167c;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon,
.main-timeline .timeline:nth-child(4n+4) .title,
.main-timeline .timeline:nth-child(4n+4) .timeline-content:after{
    background-color: #FAB030;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{
    background-color: #ba7807;
}
